@import "../includes/mixins";
@import "../includes/variables";
@import "../includes/fonts";

main {
    font-family: $primaryFont;
    color: $bodyColor;
    font-size: var(--global-font-size);
    section {
        padding: 50px 0;
        &.dashboard {
            background: rgb(246,246,248);
            background: linear-gradient(180deg, 
            rgba(246,246,248,0) 0%, rgba(246,246,248,1) 100%);
            .content-wrapper {
                @include gridbox;
                gap: 25px;
                @include grid-template-columns(1fr);
                @include breakpoint(mn992) {
                    @include grid-template-columns(1fr auto);
                }
                @include breakpoint(mn1200) {
                    @include grid-template-columns(2fr 1fr);
                }
                @include breakpoint(mn1400) {
                    @include grid-template-columns(2fr 530px);
                }
                .content-block {
                    .title-block {
                        .title {
                            font-size: calc(var(--global-font-size) * 2);
                            font-weight: 700;
                            line-height: 1.2;
                        }
                    }
                    .details-block {
                        border-top: 1px solid #8B8B8B;
                        border-bottom: 1px solid #8b8b8b;
                        padding: 20px 0;
                        margin-top: 40px;
                        @include gridbox;
                        @include grid-template-columns(repeat(2, 1fr));
                        @include breakpoint(mx767) {
                            grid-gap: 20px;
                        }
                        @include breakpoint(mn768) {
                            @include grid-template-columns(1fr 1fr 320px);
                        }
                        .columns {
                            padding-right: 25px;
                            @include breakpoint(mx767) {
                                &:last-child {
                                    grid-column: span 2;
                                    border-top: 1px solid #8b8b8b;
                                    padding-top: 20px;
                                }
                                &:first-child {
                                    border-right: 1px solid #8b8b8b;
                                }
                            }
                            &:not(:first-child) {
                                @include breakpoint(mn768) {
                                    padding-left: 25px;
                                }
                            }
                            &:not(:last-child) {
                                @include breakpoint(mn768) {
                                    border-right: 1px solid #8b8b8b;
                                }
                            }
                            .label {
                                font-weight: 700;
                                margin-bottom: 0.75rem;
                            }
                            .budget {
                                font-weight: 700;
                                color: $black-60;
                                .value {
                                    font-size: calc(var(--global-font-size) * 2);
                                    line-height: 25px;
                                }
                                .small {
                                    font-size: calc(var(--global-font-size) + 2px);
                                }
                            }
                            .status {
                                display: inline-block;
                                padding: 0.30rem 1.25rem;
                                border: 1px solid $primaryColor;
                                color: $primaryColor;
                                background-color: lighten($primaryColor, 33%);
                                @include border-radius(4px);
                            }
                            .influencer-list {
                                @include flexbox;
                                @include align-items(center);
                                column-gap: 20px;
                                .influencer-item {
                                    @include inline-flex;
                                    @include flex-direction(column);
                                    @include align-items(center);
                                    .thumbnail {
                                        display: inline-block;
                                        position: relative;
                                        width: 48px;
                                        height: 48px;
                                        @include border-radius(1000px);
                                        img {
                                            width: 100%;
                                            @include border-radius(1000px);
                                        }
                                        .notification {
                                            width: 14px;
                                            height: 14px;
                                            background-color: #8E72FF;
                                            border: 1px solid #B8B8B8;
                                            @include border-radius(1000px);
                                            position: absolute;
                                            bottom: 5px;
                                            right: -5px;
                                        }
                                    }
                                    .influencer {
                                        font-size: 12px;
                                        color: $black-60;
                                    }
                                } 
                                .more-influencers {
                                    color: $black-60;
                                    text-decoration: none;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .card-wrapper {
                margin-top: 50px;
                @include gridbox;
                gap: 50px;
                .card-block {
                    @include gridbox;
                    @include grid-template-columns(1fr);
                    gap: 15px;
                    @include breakpoint(mn376) {
                        @include grid-template-columns(repeat(2, 1fr));
                    }
                    @include breakpoint(mn481) {
                        gap: 25px;
                    }
                    @include breakpoint(mn992) {
                        @include grid-template-columns(repeat(3, 1fr));
                    }
                    &.coupons {
                        @include grid-template-columns(1fr);
                        @include breakpoint(mn376) {
                            @include grid-template-columns(repeat(2, 1fr));
                        }
                        @include breakpoint(mn992) {
                            @include grid-template-columns(repeat(4, 1fr));
                        }
                        @include breakpoint(mn1200) {
                            @include grid-template-columns(repeat(4, 225px));
                        }
                        @include breakpoint(mn1400) {
                            @include grid-template-columns(repeat(4, 265px));
                        }
                        .ui-card {
                            .ui-card-header {
                                .title {
                                    font-size: calc(var(--global-font-size) + 2px);
                                }
                            }
                        }
                    }
                    &.widgets2-1 {
                        @include grid-template-columns(1fr);
                        @include breakpoint(mn992) {
                            @include grid-template-columns(2fr 1fr);
                        }
                        .ui-card {
                            &.camping-overview {
                                .ui-card-header {
                                    .title-block,
                                    .graph-info {
                                        @include flexbox;
                                        @include align-items(center);
                                        @include flex-wrap(wrap);
                                        gap: 20px;
                                    }
                                    .graph-info {
                                        .hint {
                                            color: #b4b4b6;
                                            font-weight: 600;
                                            .indicator {
                                                display: inline-block;
                                                width: 12px;
                                                height: 12px;
                                                margin-right: 7px;
                                                @include border-radius(1000px);
                                                background-color: #ccc;
                                            }
                                        }
                                    }
                                    .dates {
                                        color: #7f7f7f;
                                        font-weight: 700;
                                    }
                                }
                            }
                            &.influencers-engage {
                                .label {
                                    font-size: calc(var(--global-font-size) + 2px);
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    .ui-card {
                        background-color: $white;
                        @include border-radius(20px);
                        &.active {
                            background-color: #F2EAFF;
                        }
                        .ui-card-header,
                        .ui-card-body {
                            padding: 1.25rem;
                        }
                        .ui-card-header {
                            padding-bottom: 0;
                            .title { 
                                font-size: calc(var(--global-font-size) + 5px);
                                font-weight: 700;
                            }
                        }
                        .ui-card-body {
                            .count {
                                font-size: calc(var(--global-font-size) * 2);
                                color: $black-60;
                                font-weight: 700;
                                line-height: initial;
                            }
                            .description {
                                color: #7f7f7f;
                                font-weight: 700;
                            }
                            .progress-wrapper {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}